.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}


#carousel-bounding-box{
	margin-top: 30px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.thumbnail{
	min-height: 115px;
	border: none;
}

.thumbnailLong{
	min-height: 168.19px;
	padding: 0px;
	border: none;
}

.thumbnail:hover{
	background: #FFF;
    opacity: 0.7;
}
.col-sm-3{
	width: 30%;
}

@media only screen and (@screen-sm-min) {
    .thumbnail:nth-of-type(3n + 1) {
        clear: both;
    }
}

.container{
	margin: 50px 20px;
	padding: 20px;
	border-color: #F6BA35;
    border-left-style: dotted;
	border-width: 9px;
	letter-spacing: 4px;
}


body{
	color: black;
    font-size: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p{
	font-family: "Roboto";
	font-size: 1.5rem;
}

.header {
	padding: 0rem 3rem;
	font-size: 6rem;
	font-weight: 800;
	background-color: #e1ecf4;
	color: black;
	text-align: left;
	font-family: 'Poiret One', cursive;
	letter-spacing: 1rem;
}

i{
	font-size: 1px;
	padding: 0 1.7rem 0 1.7rem;
}

ul {
	width: 100%;
	font-size: 18px;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: .75rem;
	font-family: 'Poiret One', cursive;
	font-size: 1.75rem;
}

.navbar-default{
	background-color: transparent;
	border-radius: 0;
	box-shadow: 0 5px 20px -2px #A7C1C0;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
	/*text-shadow: 2px 2px #F6BA35;*/
	color: #F6BA35;
}
.dropdown open{
	background-color: transparent;
}


.work h3{
	text-align: left;
	padding: 0 25% 0 3%;
}

.work{
	text-align: left;
	padding: 0 25% 1% 5%;
}
.redText{
	color: salmon;
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	padding: 0 25% 0 3%;

}

p .fa-button {
	font-family: Roboto;
	font-weight: 400;
}

.fa-button .fa {
  margin-left: 2px;
  font-size: 14px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.fa-button .fa:hover {
  margin-left: .75rem;
  text-decoration: none;
  color: salmon;
}

a:hover{
	text-decoration: none;
	color: salmon;
}

.flex-container {
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 400px;
    height: 250px;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: 10px;
}
footer{
	border-top: solid #000000 1rem;
	padding: 2rem 0 2rem 0;
}
