body{
	color: black;
    font-size: 1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

p{
	font-family: "Roboto";
	font-size: 1.5rem;
}

h2{
	text-align: left;
	font-family: 'Poiret One', cursive;
	font-size: 3rem;
	letter-spacing: 2rem;
	padding: .5rem 0rem 0rem .5rem;
}

h3{
	font-family: 'Poiret One', cursive;	
	font-weight: 500;
	padding: .5rem 0 1rem 0;
	letter-spacing: 1rem;
}