

.Section3 {
	background: #F7A08B;
	height: 40rem;
	width: 90%;
	margin: 5rem 8rem 5rem 8rem;
}

.Section4 {
	background: #689197;
	height: 40rem;
	width: 90%;
	margin: 5rem 8rem 5rem 8rem;
}


.patternBox{
	height:40rem;
	width: 7rem;
	float: left;
}

.Section3 > .patternBox{
	background-image: url("../images/patterns/redleaves.jpg");
}

.Section4 > .patternBox{
	background-image: url("../images/patterns/greencircles.jpg");
}


.footer{
	background-color: #e1ecf4;
	color: black;
	padding: 1.25rem;
	font-family:  'Poiret One', cursive;
	font-size: 1rem;
	letter-spacing: .6rem;
	font-weight: 700;
	text-align: center;
	border-top: 0.5rem solid #197891;
}
